.title {
    font-size: 3rem;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
  }
  
.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    animation: rotateVertical 3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotateVertical {
    from {
transform: translateY(-50%) rotateY(0deg); 
    }
    to {
        transform: translateY(-50%) rotateY(360deg); 
    }
}

.logo-stopped 
{
    animation-play-state: paused;
}

*
{
    margin: 0; 
    padding: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    background-color: #f0f8ff;
    padding-top: 60px;
}

nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:  #f5f5dc;
    padding: 15px 0;
    z-index: 1000;
}

nav ul
{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

nav li
{
    margin-right: 20px;
    background-color: #333;
    border-radius: 5px;
}

nav li:hover
{
    background-color: #b0e0e6;
}

nav li a
{
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    font-size: 1.1em;
    border-radius: 5px;
}

datalist
{
    background-color: #3cb371;
    font-variant: small-caps;
    color: white;
}

table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td
{
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

th 
{
    background-color: #f4f4f4;
}

form 
{
    margin: 20px;
}

datalist 
{
    background-color: #3cb371; /* Verde suave */
    font-variant: small-caps;
    color: white;
}
