.back-to-top 
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px; 
    height: 50px; 
    background-color: #333;
    color: white;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.7; 
    transition: opacity 0.3s ease; 
}
.title 
{
    font-size: 3rem;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}
  
.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    animation: rotateVertical 3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotateVertical {
    from {
transform: translateY(-50%) rotateY(0deg); 
    }
    to {
        transform: translateY(-50%) rotateY(360deg); 
    }
}

.logo-stopped 
{
    animation-play-state: paused;
}


*
{
    margin: 0; 
    padding: 0;
}

body
{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0e6d6;
}

header
{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

header .logo
{
    width: 80px;
    margin-top: 10px;
}

nav
{
    position: fixed;
    top: 0;  
    left: 0; 
    width: 100%;
    background-color: #333; 
    z-index: 1000;
}

h1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    color: #98fb98;
}

h2
{
    font-family: cursive;
    font-size: 25px;
    color: #8a2be2;
}

h2
{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: blueviolet;
    margin: 10px;
}

nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li
{
    float: left;
    margin-right: 10px;
}

a
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-flex;
    font-size: 20px;
    background-color: #f4f4f4;
    color: #4b0082;
    padding: 10px;
    border: 4px solid #4b0082;
    text-decoration: none;
    cursor: pointer;
}

main
{
    background-color: #66cccc;
    text-align: center;
    padding: 10px;
}

main img
{
    width: 300px;
    border-radius: 8px;
    border: 1px solid #444;
    box-shadow: 4px 1px white;
}

.sticky-header 
{
    position: sticky;
    top: 0;
    /*background-color: #f4f4f4;*/
    padding: 10px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer
{
    background-color: #98fb98;
    padding: 15px;
    text-align: center;
}

footer p
{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
